.inputText {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.inputText label {
	font-size: 16px;
	margin-bottom: 8px;
}

.inputText input {
	padding: 16px 12px;
	border-radius: 8px;
	border: 1px solid var(--secondary-gray);
	outline: none;
}
